{% extends 'base.html' %}


{% block content %}


<h1>All Students</h1>

<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <a href="/student/new">
            {% load static %}
            <img alt="plus" class="card-img-top" src="{% static 'images/plus.png' %}">
            <div class="card-body">
                <a class="btn btn-primary" href="/student/new">New Student</a>
            </div>
        </div>
    </div>
    {% for student in students %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                {% load static %}
                <img alt="student" class="card-img-top" src="{% static 'media/' %}{{student.picture}}">
                <div class="card-body">
                    <h5 class="card-title">{{student.name}}</h5>
                    <p class="card-text">{{student.birthdate}}</p>
                    <a class="btn btn-primary" href="/student/student_info/{{student.id}}">Student File</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
