{% extends 'base.html' %}

{% block content %}

<h2>Add a new student</h2>

<form method="post" action="/student/new_form_submission" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label>Student Name / ឈ្មោះ​របស់​និស្សិត</label>
        <input type="text" class="form-control" name= "studentName" id="studentName" placeholder="Makara">
    </div>
    <div class="form-group">
        <label>Select the Class</label>
        <select class="form-control" name="classOption">
            <option selected>Select a class for the student</option>
            {% for level in levels %}
            <option value="{{level.id}}">{{level.id}}) {{level.level}} - {{level.period}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <p>Gender:</p>
        <div class="custom-control custom-radio custom-control-inline">
            <input onclick="check_male()" type="radio" class="custom-control-input" id="male" name="male">
            <label class="custom-control-label" for="male">Male</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input onclick="check_female()" type="radio" class="custom-control-input" id="female" name="female">
            <label class="custom-control-label" for="female">Female</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-2 col-form-label">Birth Date</label>
        <div class="col-10">
            <input class="form-control" type="date" value="2011-08-19" id="birthDate" name="birthdate">
        </div>
    </div>
    <div class="form-group">
        <label>Select the Grade</label>
        <select class="form-control" name="gradeOption" id="gradeOption">
            <option selected>Select the grade</option>
            {% for grade in grades %}
                <option value="{{grade.id}}">{{grade.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label>Select the public school</label>
        <select class="form-control" name="publicSchool" id="publicSchool">
            <option selected>Select the public school</option>
            {% for school in schools %}
                <option value="{{school.id}}">{{school.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label>Lives in</label>
        <input type="text" class="form-control" id="livesIn" name="livesIn" placeholder="Bakong">
    </div>
    <div class="form-group">
        <label>Siblings</label>
        <input type="text" class="form-control" id="siblings" name="siblings" placeholder="2 sisters (8y, 17y)">
    </div>
    <div class="form-group">
        <label>Student Notes:</label>
        <textarea class="form-control" id="studentNotes" name="studentNotes" rows="3"></textarea>
    </div>
    <div class="form-group">
        <p>Student picture:</p>
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="pictureFile" name="pictureFile">
            <label class="custom-file-label" for="pictureFile">Upload a picture</label>
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit">
        <input class="btn btn-primary" type="reset" value="Reset">
    </div>
</form>

{% endblock %}
