{% extends 'base.html' %}

{% block content %}

<h2>{{student.name}}</h2>

<form method="post" action="/student/edit_student" type="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label>Student Name / ឈ្មោះ​របស់​និស្សិត</label>
        <input type="hidden" class="form-control" name= "studentId" id="studentId" value="{{student.id}}" readonly >
        <input type="text" class="form-control" name= "studentName" id="studentName" value="{{student.name}}">
    </div>
    <div class="form-group">
        <label>Select the Class</label>
        <select class="form-control" name="classOption">
            {% for level in levels %}
                {% if level.id == student.level_id %}
                    <option selected id="{{level.id}}" value="{{level.id}}">{{level.id}}) {{level.level}} - {{level.period}}</option>
                {% else %}
                    <option id="{{level.id}}" value="{{level.id}}">{{level.id}}) {{level.level}} - {{level.period}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <p>Gender:</p>
        <div class="custom-control custom-radio custom-control-inline">
            {% if student.gender == 'Male' %}
                <input onclick="check_male()" type="radio" class="custom-control-input" id="male" name="male" checked>
            {% else %}
                <input onclick="check_male()" type="radio" class="custom-control-input" id="male" name="male">
            {% endif %}
            <label class="custom-control-label" for="male">Male</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            {% if student.gender == 'Female' %}
                <input onclick="check_female()" type="radio" class="custom-control-input" id="female" name="female" checked>
            {% else %}
                <input onclick="check_female()" type="radio" class="custom-control-input" id="female" name="female">
            {% endif %}
            <label class="custom-control-label" for="female">Female</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-2 col-form-label">Birth Date</label>
        <input class="form-control" type="date" id="birthDate" name="birthdate" value="{{student.birthdate}}">
    </div>
    <div class="form-group">
        <label>Select the Grade</label>
        <select class="form-control" name="gradeOption" id="gradeOption">
            {% for grade in grades %}
                {% if grade.id == student.grade %}
                    <option selected id="{{grade.id}}" value="{{grade.id}}">{{grade.name}}</option>
                {% else %}
                    <option id="{{grade.id}}" value="{{grade.id}}">{{grade.name}})</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label>Select the public school</label>
        <select class="form-control" name="publicSchool" id="publicSchool">
            {% for school in schools %}
                {% if school.id == student.school %}
                    <option selected id="{{school.id}}" value="{{school.id}}">{{school.name}}</option>
                {% else %}
                    <option id="{{school.id}}" value="{{school.id}}">{{school.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label>Lives in</label>
        <input type="text" class="form-control" id="livesIn" name="livesIn" placeholder="Bakong" value="{{student.livesin}}">
    </div>
    <div class="form-group">
        <label>Siblings</label>
        <input type="text" class="form-control" id="siblings" name="siblings" placeholder="2 sisters (8y, 17y)" value="{{student.siblings}}">
    </div>
    <div class="form-group">
        <label>Student Notes:</label>
        <textarea class="form-control" id="studentNotes" name="studentNotes" rows="3">{{student.notes}}</textarea>
    </div>
    <div class="form-group">
        <p>Student picture:</p>
        {% load static %}
        <img alt="student" class="card-img-top" src="{% static 'media/' %}{{student.picture}}">
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="pictureFile" name="pictureFile">
            <label class="custom-file-label" for="pictureFile">Upload a new picture</label>
        </div>
    </div>
    <div class="form-group">
        <label>Created By</label>
        <input type="text" class="form-control" id="createdBy" name="createdBy" placeholder="Name of the volunteer who is creating this student" value="{{student.createdBy}}" readonly>
    </div>
    <div class="form-group">
        <label>Created By</label>
        <input type="text" class="form-control" id="modifiedBy" name="modifiedBy" placeholder="Name of the volunteer who is modifying this student" >
    </div>
    <div class="form-group">
        <input class="btn btn-primary"  type="button" value="Go Back" onclick="history.back(-1)" />
        <input class="btn btn-primary" type="submit" value="Save Changes">
    </div>
</form>

{% endblock %}
